*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
    font-family: "articulat-cf", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #251155;
    background-image: url(image/fond.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #CFC5EF;
    margin: 0;
}

.navigation{
    position: sticky;
    top: 0;
    z-index: 4;
    display: flex;
    justify-content: center;
  }

.navigation ul{
    list-style: none;
    background-color: #D7CFF3;
    margin-top: 12px;
    margin-bottom: 0;
    border-radius:26px;
    width:904px;
    height: 60px;
    box-shadow: 0px 14px 15px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.1rem;
}

.navigation a {
    color: #702A84;
    text-decoration: none;
    position: relative;
    display: inline-block;
    padding: 15px;
}

/*Animation au hover faite en CSS à partir du tuto "4. Text underline" : https://prismic.io/blog/css-hover-effects */
    
.hover-underline::after,
  .hover-underline::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #702A84, #917ebd);
    left: 0; 
    transform: scaleX(0);
    transition: transform 0.4s ease-out;
}
  
.hover-underline::after {
  bottom: 5px;
  transform-origin: right;
}

.hover-underline::before {
  top: 5px;
  transform-origin: left;
}

.hover-underline:hover::after,
.hover-underline:hover::before {
  transform: scaleX(1);
}

.navigation li{
    float: left;
}

.titre{
    background-color: #120334;
    padding: 8px;
    margin-bottom: 20px;
}

h1{
    font-family: "cofo-raffine", sans-serif;
    font-weight: 900;
    font-size: 3rem;
    color: #CFC5EF;
    text-align: center;
}

h2{
    font-family: "cofo-raffine", sans-serif;
    font-weight: 700;
    font-size: 2.8rem;
    text-align: center;
    margin-bottom: 0;
}

.title2{
    font-size: 1.3rem;
    font-family: "articulat-cf", sans-serif;
    font-weight: 700;
    font-style: normal;
}

div:not(.titre){
    background-color: rgb(207, 204, 209);
    border-radius: 25px;
    max-width: 850px;
    margin: 0 auto 30px auto;
    padding: 10px 20px;
    box-shadow: 0 15px 15px 0 #ac93e5;
}

div a{
    color: #251155;
    text-decoration: none;
}

div a:hover{
    text-decoration: underline;
}

@media screen and (max-width:920px){
    div:not(.titre){
        margin: 0 20px 30px 20px;
    }
}

li{
    margin-bottom: 12px;
}

footer {
    width: 100%;
    height: 154px;
    background-color: #120334;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px; 
}

footer a {
    color: white;
    text-decoration: none;
}